<!DOCTYPE html>

<html>
    <head>
        
    </head>
    <body>
        <h2>TMDB: Top 5 Episodes</h2>
        <table>
            <tr width="100" border="solid">
                <th>Title</th>
                <th>Episode</th>
                <th>Rating</th>
            </tr>

            <tr>
                <th>Beaking Bad</th>
                <th>Ozymandias</th>
                <th>10.0</th>
            </tr>

            <tr>
                <th>Attack on Titan</th>
                <th>Hero</th>
                <th>9.9</th>
            </tr>

            <tr>
                <th>Attack on Titan</th>
                <th>Perfect Game</th>
                <th>9.9</th>
            </tr>

            <tr>
                <th>Star Wars: The Clone Wars</th>
                <th>Victory and Death</th>
                <th>9.9</th>
            </tr>

            <tr>
                <th>Mr. Robot</th>
                <th>407 Proxy Authentication Required</th>
                <th>9.9</th>
            </tr>
        </table>
    </body>
</html>



